.laser-cursor {
  cursor: url(/images/remark.js/laser_point.svg) 20.5 21, default;
}

.cursor {
  width: 4rem;
  height: 4rem;
  border: 2px solid black;
  border-radius: 50%;
  background-color: #ffee00;
  opacity: 0.45;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 100;
  display: none;
}

.hideCursor {
  cursor: none;
}

@media print {
  .cursor {display: none;}
}