/* Inline code styling for `xxx` in Markdown
https://stackoverflow.com/a/22997770 */
pre .remark-inline-code {
  border-radius: 0px; 
  -moz-border-radius: 0px; 
  -webkit-border-radius: 0px; 
  border: 0px;
}
.remark-inline-code {
  border-radius: 5px; 
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px; 
  border: 1px solid #BCBEC0;
  background-color: #EFF1F2;
  padding: 2px;
}
