@font-face{
  font-family: 'Droid Serif';
  src: url('../fonts/DroidSerif.ttf');
}

@font-face{
  font-family: 'Yanone Kaffeesatz';
  src: url('../fonts/YanoneKaffeesatz.otf');
}

@font-face{
  font-family: 'Ubuntu Mono';
  src: url('../fonts/UbuntuMono.ttf');
}

@font-face{
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans.ttf');
}
@font-face{
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Bold.ttf');
  font-weight: bold;
}
@font-face{
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Italic.ttf');
  font-style: italic;
}
@font-face{
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-BoldItalic.ttf');
  font-weight: bold;
  font-style: italic;
}

@font-face{
  font-family: 'Grandstander';
  src: url('../fonts/Grandstander.ttf');
}
@font-face{
  font-family: 'Grandstander';
  src: url('../fonts/Grandstander-Bold.ttf');
  font-weight: bold;
}
@font-face{
  font-family: 'Grandstander';
  src: url('../fonts/Grandstander-Italic.ttf');
  font-style: italic;
}
@font-face{
  font-family: 'Grandstander';
  src: url('../fonts/Grandstander-BoldItalic.ttf');
  font-weight: bold;
  font-style: italic;
}

body { font-family: 'Open Sans'; line-height: normal; }

h1, h2, h3 {
  font-family: 'Open Sans';
  font-weight: bold;
}

h1 {
  margin-left: -13px;
}

.remark-code, .remark-inline-code { font-family: 'Ubuntu Mono'; }

.red {color: red;}
.blue {color: blue;}
.gray {color: gray;}
.white {color: white;}
.darkred {color: #B02418;}
.darkblue {color: #203D6A;}
.orange {color: #E27748;}

.bold {font-weight: bold;}
.italic {font-style: italic;}
.bolditalic {font-weight: bold; font-style: italic;}
.cute {font-family: 'Grandstander';}
.url {font-family: 'Ubuntu Mono';}

.left {text-align: left;}
.center {text-align: center;}
.right {text-align: right;}
.justify {text-align: justify;}

.v-loose {line-height: 1.8;}
.v-very-loose {line-height: 2.5;}

.footnote { 
  font-family: 'Ubuntu Mono';
  position: absolute;
  margin-right: 14px;
  font-size: 14px;
  left: 5%;
  bottom: 30px;
}

.tiny {font-size: 6px;}
.scriptsize {font-size: 10px;}
.footnotesize {font-size: 14px;}
.small {font-size: 17px;}
.midsize {font-size: 18px;}
.normalsize {font-size: 20px;}
.large {font-size: 23px;}
.huge {font-size: 30px;}
.titlesize {font-size: 45px;}
.titlelarge {font-size: 60px;}
.titlehuge {font-size: 100px;}

/* Set list and ordered list item spacing */
.remark-slide-content ul li,
.remark-slide-content ol li {
  margin-bottom: 0.4em;
}


/* Overwrite the default config */
.remark-slide {
  position: relative;
  z-index: -2;
}

.remark-slide-scaler {
  overflow: hidden;
}

.remark-slide-content {
  position: relative;
  z-index: -1;
}

.remark-slide-number {
  color: white;
  opacity: 1.0;
  font-size: 14px;
  bottom: 3px;
  right: 15px;
}

.remark-slide-content > h1:first-of-type {
  margin-top: 55px;
  margin-bottom: 18.7px;
  font-size: 38px;
}
.remark-slide-content > p:first-of-type {
  margin-top: 20px;
  margin-bottom: 18.7px;
}

.unselectable {
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.boxed {
  border: 1px solid;
  border-color: black;
  inline-size: min-content;
  padding-left: 10px;
  padding-right: 10px;
  /* overflow: hidden; */
  /* word-break: break-all; */
  /* overflow-wrap: break-word; */
}


/* Fix the printing issue */
/* https://github.com/gnab/remark/issues/50#issuecomment-223887379 */
/* https://github.com/gnab/remark/issues/50#issuecomment-321141963 */
/* This works with Chrome, but not with Safari */
/* Also not that this does not work with the presenter mode */

@media print {
  .remark-slide-scaler {
    width: 100% !important;
    height: 100% !important;
    transform: scale(1) !important;
    top: 0 !important;
    left: 0 !important;
  }
}
