/* ==========================================================================
   BUTTONS
   ========================================================================== */

/*
   Default button
   ========================================================================== */

.btn {
  /* default button */
  display: inline-block;
  margin-bottom: 0.25em;
  padding: 0.5em 1em;
  color: #fff !important;
  font-family: $sans-serif;
  font-size: $type-size-6;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: var(--global-base-color);
  border: 0 !important;
  border-radius: $border-radius;
  cursor: pointer;

  &:hover {
    background-color: mix(white, #000, 20%);
  }

  .icon {
    margin-right: 0.5em;
  }

  .icon + .hidden {
    margin-left: -0.5em; /* override for hidden text*/
  }

  /* fills width of parent container */

  &--block {
    display: block;
    width: 100%;

    + .btn--block {
      margin-top: 0.25em;
    }
  }

  /* for dark backgrounds */

  &--inverse {
    color: var(--global-text-color-light) !important;
    border: 1px solid var(--global-border-color) !important; /* override*/
    background-color: var(--global-bg-color);

    &:hover {
      color: #fff !important;
      border-color: var(--global-text-color-light);
    }
  }

  /* light outline */

  &--light-outline {
    border: 1px solid #fff !important; /* override*/
    background-color: transparent;
  }

  /* information */

  &--info {
    background-color: $info-color;

    &:hover {
      background-color: mix(#000, $info-color, 20%);
    }
  }

  /* warning */

  &--warning {
    background-color: $warning-color;

    &:hover {
      background-color: mix(#000, $warning-color, 20%);
    }
  }

  /* success */

  &--success {
    background-color: $success-color;

    &:hover {
      background-color: mix(#000, $success-color, 20%);
    }
  }

  /* danger */

  &--danger {
    background-color: $danger-color;

    &:hover {
      background-color: mix(#000, $danger-color, 20%);
    }
  }

  /* disabled */

  &--disabled {
    pointer-events: none;
    cursor: not-allowed;
    filter: alpha(opacity=65);
    box-shadow: none;
    opacity: 0.65;
  }

  /* social buttons */

  $social:
  (bluesky, $bluesky-color),
  (facebook, $facebook-color),
  (twitter, $twitter-color),
  (google-plus, $google-plus-color),
  (linkedin, $linkedin-color);

  @each $socialnetwork, $color in $social {
    &--#{$socialnetwork} {
      background-color: $color;

      &:hover {
        background-color: mix(#000, $color, 20%);
      }
    }
  }

  /* extra large button */

  &--x-large {
    font-size: $type-size-4;
  }

  /* large button */

  &--large {
    font-size: $type-size-5;
  }

  /* small button */

  &--small {
    font-size: $type-size-7;
  }
}

.paper-tag-badge-container {
  overflow: visible;
  position: absolute;
  vertical-align: middle;
}

.paper-tag-badge-item {
  overflow: visible;
  position: relative;
  vertical-align: middle;
  margin-left: 15px;
}

.close-button {
  content:url('/images/cancel.svg');
  position: absolute;
  cursor: pointer;
  border: 0px solid #fff;
  border-radius: 50%;
  box-shadow: 1px 1px 1px #888888;
  width: 18px;
  height: 18px;
  background-color: white;
  filter: var(--global-paper-svg-filter);
  top: 0;
  right: 0;
  transform: translate(50%, 0%);
}

// .close-button {
//   position: absolute;
//   cursor: pointer;
//   border-radius: 50%;
//   border: 2px solid #fff;
//   box-shadow: 1px 1px 1px #888888;
//   width: 18px;
//   height: 18px;
//   background-color: var(--global-paper-badge-close);
//   color: #fff;
//   top: 0;
//   right: 0;
//   transform: translate(50%, 0%);
// }
// .close-button::before {
//   content: " ";
//   position: absolute;
//   display: block;
//   background-color: #fff;
//   width: 2px;
//   left: 6px;
//   top: 2px;
//   bottom: 2px;
//   transform: rotate(45deg);
// }
// .close-button::after {
//   content: " ";
//   position: absolute;
//   display: block;
//   background-color: #fff;
//   height: 2px;
//   top: 6px;
//   left: 2px;
//   right: 2px;
//   transform: rotate(45deg);
// }

.paper-tag-badge {
  display: inline;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  user-select: none; /* Non-prefixed version, currently
  supported by Chrome, Opera, and Edge */
  margin-bottom: 0.25em;
  padding: .25em .4em;
  color: #fff !important;
  font-size: 13px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  background-color: var(--global-base-color);
  border: 0 !important;
  border-radius: $border-radius;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  cursor: pointer;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

  &.paper-year {
    background-color: var(--global-paper-year-color);
  }

  &.paper-pub {
    background-color: var(--global-paper-pub-color);
  }
}

.paper-year-hide {
  display: none;
  visibility: hidden;
}
.paper-pub-hide {
  display: none;
  visibility: hidden;
}
